<!-- <h1>11</h1>
<a href="{% url 'polls:index' %}">Home</a> -->
<!-- <h1 style="text-align: center">toeyza</h1>
<select name="list" size="2" multiple>
<option value="1">toei</option>
<option value="2">toeija</option>
</select>

<h1 style="text-align: center">toeyza</h1> -->
<!-- <label for="n">umer</label>
<input type="text" name="" value=""> -->

<!-- {% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head> -->
    
